.loading-text {
    color: var(--dark);
}

.loading-dots1 {
    animation: dots1 2s infinite;
}

.loading-dots2 {
    animation: dots2 2s infinite;
}

.loading-dots3 {
    animation: dots3 2s infinite;
}

@keyframes dots1 {
    0% { color: rgba(255, 0, 0, 0) }
    33% { color: var(--dark) }
}

@keyframes dots2 {
    0% { color: rgba(255, 0, 0, 0) }
    66% { color: var(--dark) }
}

@keyframes dots3 {
    0% { color: rgba(255, 0, 0, 0) }
    100% { color: var(--dark) }
}