.category-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-cyan);
    border-right: 2px solid var(--dark);
    position: fixed;
    width: 153px;
}

.category-header {
    font-size: 28px;
    font-weight: bold;
    padding: 1rem 1rem;
    background-color: var(--light-grey);
    border-bottom: 2px solid var(--dark);
}

@media screen and (max-width:800px) {
    .category-container {
      flex-direction: row;
      min-height: 40px;
      width: 100vw;
      border-right: 0;
    }
    .category-header {
        display: none;
    }
  }