.product-table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.product-table {
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 1px solid var(--dark);
    table-layout: auto;
    width: 80%;  
}

.product-table-header{
    background-color: var(--light-grey);
    color: var(--dark);
}

.product-table th,td, tr {
    border: 1px solid var(--dark);
    padding: 4px
}

.product-table-body tr:nth-child(even){
    background-color: var(--light-cyan);
}

.product-table-body tr:nth-child(odd){
    background-color: var(--light);
}

.product-table-body tr:hover {
    background-color: var(--light-grey);
}