.product-table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-table {
    border-collapse: collapse;
    border: 1px solid var(--dark);
    table-layout: auto;
    width: 80%;
    
}

.product-table th,td, tr {
    border: 1px solid var(--dark);
    padding: 4px
}

.product-table tr:nth-child(even){
    background-color: var(--light-cyan);
}

.product-table tr:hover {
    background-color: var(--light-grey);
}